$neutral-text: #9b7652;
$neutral-bg-1: #ffeedd;
$neutral-bg-2: #edcfb1;
$neutral-shadow: #706459;

$red-text: #f7c4be;
$red-bg-1: #e57569;
$red-bg-2: #840d00;
$red-shadow: #663a36;

$blue-text: #aecff2;
$blue-bg-2: #002042;
$blue-bg-1: #4ea2fc;

$black-text: rgba(255, 255, 255, 0.9);
$black-bg-2: #000;
$black-bg-1: rgba(0, 0, 0, 0.55);

$green: green;
$green-darker: darken($green, 10%);
$green-lighter: lighten($green, 10%);

$bg: #f6e8ea;
$bg-darker: darken($bg, 3%);
$bg-lighter: lighten($bg, 15%);
