$font-size-1x: 1rem; // 8px
$font-size-2x: 2rem; // 16px
$font-size-3x: 3rem; // 24px
$font-size-4x: 4rem; // 32px
$font-size-5x: 5rem; // 40px
$font-size-6x: 6rem; // 48px
$font-size-7x: 7rem; // 56px
$font-size-8x: 8rem; // 64px

$spacing-1x: 1rem; // 8px
$spacing-2x: 2rem; // 16px
$spacing-3x: 3rem; // 24px
$spacing-4x: 4rem; // 32px
$spacing-5x: 5rem; // 40px
$spacing-6x: 6rem; // 48px
$spacing-7x: 7rem; // 56px
$spacing-8x: 8rem; // 64px
