@import "./src/styles/sizes";
@import "./src/styles/colors";

.header {
  width: 100%;
  padding: $spacing-2x;
  background-color: $bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $neutral-shadow;

  &__title {
    font-size: $spacing-4x;
    text-transform: uppercase;
    color: $neutral-text;
  }

  &__show-types-btn {
    button {
      padding: $spacing-1x;
      border: 1px solid $neutral-bg-2;
      background: $neutral-bg-1;
      color: $neutral-text;
      font-size: $font-size-2x;

    }
  }
}