@import "./src/styles/colors";
@import "./src/styles/sizes";

.game-field {
  &__word-card {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "number"
      "word";
    cursor: pointer;
    position: relative;
    font-size: $font-size-3x;
    font-family: "Lato", sans-serif;
    background: linear-gradient(45deg, $neutral-bg-1, $neutral-bg-2);
    color: $neutral-text;
    box-shadow: 2px 2px 5px 0 $neutral-shadow;
    height: 100%;

    &--spy-woman::before,
    &--spy-man::before,
    &--spy-black::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-repeat: no-repeat;
      cursor: initial;
    }

    &--spy-woman::before {
      background-image: url("./images/spy-1.svg");
      background-size: 40%;
      background-position: 50%;
    }

    &--spy-man::before {
      background-size: 50%;
      background-position: 60% 20%;
      background-image: url("./images/spy-2.svg");
    }

    &--spy-black::before {
      background-size: 40%;
      background-position: 50% 50%;
      background-image: url("./images/spy-black.svg");
      z-index: 100;
    }

    &--guess {
      &::before {
        content: "?";
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font-size-8x * 2;
        transition: opacity 200ms ease-in;
        color: rgba($neutral-text, 0.2);
        opacity: 1;
      }

      &:hover {
        &::before {
          opacity: 0;
        }
      }
    }

    &--red {
      color: $red-text;
      background-image: linear-gradient(45deg, $red-bg-1, $red-bg-2);
    }

    &--blue {
      color: $blue-text;
      background-image: linear-gradient(45deg, $blue-bg-1, $blue-bg-2);
    }

    &--black {
      color: $black-text;
      background-image: linear-gradient(45deg, $black-bg-1, $black-bg-2);
    }

    &__number {
      grid-area: number;
      padding: $spacing-1x;
      font-size: $font-size-2x;
      justify-self: end;
    }

    &__word {
      grid-area: word;
      width: 100%;
      justify-self: center;
      align-self: center;
      text-align: center;
      padding: $spacing-1x 0;
      z-index: 1000;
      user-select: none;
    }
  }
}
